<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h3>Write new chat</h3>
    <form method ="POST"action="/chats">
<input placeholder="who are you?" name="from"><br><br>
<textarea name = "msg">Write Your Message here..</textarea><br><br>
<input placeholder ="Add reciever" name ="to"></ipnut><br><br>
<button type="submit">Create Chat</button>
    </form>
</body>
</html>